@font-face {
  font-family: Donsolas;
  src: url(fonts/consola.ttf);
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolab.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolai.ttf);
  font-style: italic;
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolaz.ttf);
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 2000px;

  font: 24px/1.3 Donsolas, monaco, monospace;
  background-color: #fff;
  color: #000;
}

html::-webkit-scrollbar { width: 0 !important }

#title {
  position: relative;
  top:0;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  color: white;
  font: 30px/1.6 Donsolas, monaco, monospace;
  height: 130px;
  margin-bottom: 10px;
  white-space: nowrap;
}

#title a {
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 6px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.foreground {
  display: block;
  margin: auto;
  width: 400px;
  height: 100px;
  //filter: drop-shadow(0px 10px 6px #272822);
}

#bio {
  position: relative;
  //margin: 10vh 4%;
  //height: calc(80vh - 130px); // js recalc for mobile browser bar height
  height: calc(100vh - 140px);
  color: #000;

  button {
    width: 30%;
    max-width: 200px;
    height: 40px;
    margin: auto;
    font-weight: bold;
    background-color: #999;
    border: none;
    position: relative;
    top: -16px;
    opacity: 0;
    animation: 1s rise;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
  }
}

#bioAnim {
    position: absolute;
    top: 0;
    left: 0;
}

.paragraphHead {
  font: 12vw/1.4 Donsolas, monaco, monospace;
  @media (min-width: 600px) {
    font: 60px/1.4 Donsolas, monaco, monospace;
  }
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  opacity: 0;
  animation: 1s rise;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
  text-shadow: 4px 4px #ddd;
}

.paragraph {
  position: relative; text-indent: 20px;
  text-align: center;
  top: -16px;
  opacity: 0;
  animation: 1s rise;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes rise {
  from {
    opacity: 0;
    top: 8px;
  }
  to {
    opacity: 1;
    top: -16px;
  }
}

#experience {
  position: relative;
  padding: 54px 4% 0 0;
  height: 536px;
  color: #000;
  background-color: #272822;
}

#languages {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #000;
  
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vw;
  max-height: 80px;

  transition: all 200ms ease;
}

#languagesTop {
  height: 1px;
  position: relative;
  background-color: #000;
}

.languagesSticky {
  background-color: #999 !important;
}

.languageIcon {
  height: 6vw;
  max-height: 40px;
  margin: auto;
}

#showcase {
  position: relative;
  width: 100%;
  background-color: #272822;
}

#repositories {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.repo {
  background-color: #fff;
  width: 50vw;
  height: 50vw;
  @media(min-width: 401px) {
    width: 33.3vw;
    height: 33.3vw;
  }
  @media(min-width: 801px) {
    width: 25vw;
    height: 25vw;
  }
}

.showcaseGraphic {
  width: 100%;
  height: 100%;
}

.showcaseLink {
  visibility: hidden;
  width: 32px;
  height: 32px;
  margin: 2px;
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  left:-90px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#contact {
  position: relative;
  height: 500px;
  padding: calc(100vh - 500px) 4% 0 4%;
  
  background-color: #272822;
}

.textbox {
  width:90vw; 
  font-size: 18px; 
  border:none; 
  padding-left: 4px;
  margin-top: 20px;
}
