@font-face {
  font-family: VanillaExtract;
  src: url('../ARognes.github.io/VanillaExtract-DXD1.ttf');
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 5000px;

  font: 16px/1.3 Consolas, sans-serif;
  background-color: #fff;
  color: #000;
}

html::-webkit-scrollbar { width: 0 !important }

#title {
  position: relative;
  top:0;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  color: white;
  font: 30px/1.6 Consolas, sans-serif;
  height: 100px;
  white-space: nowrap;
}

#title a {
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 6px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

#titleConsole {
  display: block;
  width: 100%;
  height: 100%;
}

#about {
  position: relative; 
  top: 0;
  margin: 0 4%;
  height: 60vh;
  color: #000;
}

#languages {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #bbb;
  display: flex;
  justify-content: space-between;
  height: 10vw;
  /*margin: 0 2vw;*/
  /*border-radius: 20px 20px 20px 20px;*/

  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

#languages-top {
  height: 1px;
  position: relative;
  visibility: hidden;
}

.languages-sticky {
  background-color: #999 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  height: 20vw !important;
}

.languageIcon {
  height: 8vw;
  margin: auto;
  margin-top: 1vw;
}

#showcase {
  position: relative;
  width: 100%;
  height: 100vh;
}

.paragraphHead {
  font: 24px/1.4 Consolas, sans-serif; 
  margin-top: 0;
  opacity: 0;
  animation: 1s rise;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
}

.paragraph {
  position: relative; text-indent: 20px;
  top: -16px;
  opacity: 0;
  animation: 1s rise;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

@keyframes rise {
  from {
    opacity: 0;
    top: 8px;
  }
  to {
    opacity: 1;
    top: -16px;
  }
}

.repo {
  background-color: #eee;
  
  display: block;
  position: relative;
  padding: 10px;
  left: 0;
  right: 0;
  height: 160px;
}

.repo:nth-child(odd) {
  background-color: #ddd;
}

.showcaseGraphic {
  border-radius: 8px;

  position: relative;
  height: 160px;
}

.showcaseLink {
  width: 32px;
  height: 32px;
  margin: 2px;
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  left:-90px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.showcaseDesc {
  position: absolute;
  top: 0;
  left: 175px;
  right: 5px;
  height: 80%;
  font-size: 14px;
  white-space: normal;
}

.showcaseTags {
  position: absolute;
  bottom: 5.5%;
  right: 2%;
  width: 100%;

}

.useTag {
  background-color: #090;
  border-radius: 8px;
  background-position: center;
  padding: 0 8px 0 8px;
  margin: 0 4px 0 0;
  font-size: 12px;
  float: left;
  position: relative;
  left: 190px;
}

.dateTag {
  background-color: #099;
  border-radius: 8px;
  background-position: center;
  padding: 0 8px 0 8px;
  margin: 0 4px 0 0;
  font-size: 12px;
  float: right;
}

