@font-face {
  font-family: VanillaExtract;
  src: url('../ARognes.github.io/VanillaExtract-DXD1.ttf');
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 5000px;

  font: 16px/1.3 'Inconsolata', sans-serif;
  background-color: #fff;
  color: #000;
}

html::-webkit-scrollbar { width: 0 !important }

#title {
  position: absolute;
  top:0;
  width: 100%;
  text-align: center;
  font: 40px/normal 'VanillaExtract', sans-serif;
  white-space: nowrap;
  height: 120px;
}

#cursor {
  position: relative; 
  top: -165px; 
    right: -142px;
}

@media(max-width: 380px) {
  #title {
    font: 30px/1.6 'VanillaExtract', sans-serif;
  }

  #cursor {
    top: -142px; 
    right: -118px;
  }
}

#title a {
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;

}

#about {
  position: absolute; 
  top: 120px;
  margin: 0 4% 0 4%;
  height: 30vh;
}

#languages {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 2vw;
  background-color: #bbb;
  display: flex;
  justify-content: space-between;
  height: 10vw;
  width: 96vw;
  left: 2vw;
  border-radius: 20px 20px 20px 20px;
}

#showcase {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
}

.repo {
  background-color: #eee;
  
  display: block;
  position: relative;
  padding: 10px;
  left: 0;
  right: 0;
  height: 160px;

  /*border-radius: 20px;
  -moz-box-shadow: 0 0 40px black;
  -webkit-box-shadow: 0 0 40px black;
  box-shadow: 0 0 40px black;*/
}

.repo:nth-child(odd) {
  background-color: #ddd;
}

.showcaseGraphic {
  border-radius: 8px;

  position: relative;
  height: 160px;
}

.showcaseLink {
  width: 32px;
  height: 32px;
  margin: 2px;
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  left:-90px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.showcaseDesc {
  position: absolute;
  top: 0;
  left: 175px;
  right: 5px;
  height: 80%;
  font-size: 14px;
  white-space: normal;
}

.showcaseTags {
  position: absolute;
  bottom: 5.5%;
  right: 2%;
  width: 100%;

}

.useTag {
  background-color: #090;
  border-radius: 8px;
  background-position: center;
  padding: 0 8px 0 8px;
  margin: 0 4px 0 0;
  font-size: 12px;
  float: left;
  position: relative;
  left: 190px;
}

.dateTag {
  background-color: #099;
  border-radius: 8px;
  background-position: center;
  padding: 0 8px 0 8px;
  margin: 0 4px 0 0;
  font-size: 12px;
  float: right;
}

.languageIcon {
  height: 8vw;
  margin: auto;
}

@media (min-width: 600px) and (orientation: landscape) {
  html {
    margin: 0 20% 0 20%;
    background-color: #000;
  }

  body {
    background-color: #222;
  }

  #showcase {
    top: 60px;
    left: 0;
  }

  #languages {
    padding: 10px;
    height: 40px;
    top: 10px;
  }

  .languageIcon {
    height: 90%;
    margin: auto;
  }
  
  .repo {
    padding: 0.5%;
  }
}