@font-face {
  font-family: Donsolas;
  src: url(fonts/consola.ttf);
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolab.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolai.ttf);
  font-style: italic;
}

@font-face {
  font-family: Donsolas;
  src: url(fonts/consolaz.ttf);
  font-weight: bold;
  font-style: italic;
}

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 2000px;
  font: 18px/1.3 Donsolas, monaco, monospace;
  background-color: #fff;
  color: #000;
}

html::-webkit-scrollbar {
  width: 0 !important;
}

#title {
  position: relative;
  top: 0;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  color: white;
  font: 30px/1.6 Donsolas, monaco, monospace;
  height: 130px;
  margin-bottom: 10px;
  white-space: nowrap;
}

#title a {
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 6px;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
}

.foreground {
  display: block;
  width: 100%;
  height: 100px;
  -webkit-filter: drop-shadow(0px 10px 6px #272822);
          filter: drop-shadow(0px 10px 6px #272822);
}

#bio {
  position: relative;
  margin: 30vh 4%;
  height: calc(40vh - 130px);
  color: #000;
}

#bio button {
  width: 30%;
  max-width: 200px;
  height: 40px;
  margin: auto;
}

.paragraphHead {
  font: 30px/1.4 Donsolas, monaco, monospace;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  opacity: 0;
  -webkit-animation: 1s rise;
          animation: 1s rise;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.paragraph {
  position: relative;
  text-indent: 20px;
  text-align: center;
  top: -16px;
  opacity: 0;
  -webkit-animation: 1s rise;
          animation: 1s rise;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes rise {
  from {
    opacity: 0;
    top: 8px;
  }
  to {
    opacity: 1;
    top: -16px;
  }
}

@keyframes rise {
  from {
    opacity: 0;
    top: 8px;
  }
  to {
    opacity: 1;
    top: -16px;
  }
}

#experience {
  position: relative;
  padding: 54px 4% 0 0;
  height: 536px;
  color: #000;
  background-color: #272822;
}

#languages {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #bbb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vw;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

#languages-top {
  height: 1px;
  position: relative;
  visibility: hidden;
}

.languages-sticky {
  background-color: #999 !important;
  border-radius: 0 !important;
  margin: 0 !important;
  height: 18vw !important;
}

.languageIcon {
  height: 8vw;
  max-height: 40px;
  margin: auto;
  margin-top: 1vw;
}

#showcase {
  position: relative;
  width: 100%;
  background-color: #272822;
}

#repositories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.repo {
  background-color: #fff;
  width: 50vw;
  height: 50vw;
}

@media (min-width: 401px) {
  .repo {
    width: 33.3vw;
    height: 33.3vw;
  }
}

@media (min-width: 801px) {
  .repo {
    width: 25vw;
    height: 25vw;
  }
}

.showcaseGraphic {
  width: 100%;
  height: 100%;
}

.showcaseLink {
  visibility: hidden;
  width: 32px;
  height: 32px;
  margin: 2px;
  position: relative;
  background-size: 32px;
  background-repeat: no-repeat;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  left: -90px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*# sourceMappingURL=style.css.map */